* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  background: url(../images/desktop-bg.jpg) no-repeat center/cover fixed;
  height: 100vh;
  width: 100vw;
}

.container {
	width: 1400px;
  padding: 3rem 5rem;
  color: #f3f6fd;
}

.container form {
  text-align: center;
}

form input {
  padding: 0.8rem 1.5rem;
  outline: none;
  border: 1px solid #b2b7c8;
  border-radius: 15px;
  background-color: #474e61;
  color: #fff;
  font-size: 18px;
}

form input::placeholder {
  color: #fff;
}

.container .city {
  font-size: 2rem;
}

.container .temperature {
  font-size: 5rem;
  margin-top: 1rem;
}

.container .main {
  position: relative;
}

.container .desc {
  font-size: 2rem;
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
  top: 5rem;
  letter-spacing: 5px;
}

.container .footer {
  position: absolute;
  bottom: 3rem;
  background-color: #4841397d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 3rem;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.container .footer p {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.container .footer span {
  font-size: 1.5rem;
}